<form action="/named-cat">
  <div>
    <label for="name">Name for cat:</label>
    <input type="text" name="name_of_cat" />
    <button type="submit">Submit</button>
  </div>
</form>

<% if @randomname %>
<h1>"My name is <%= @randomname %>"</h1>
<% end %>

<div>
  <img src='http://bit.ly/1eze8aE' style='border:1px dashed red' >
</div>